.heroBgImage{
    width: 100%;    
    background: url(../../public/Assets/contact.png) top center no-repeat;
    // background: url('/public/Assets/contact.png') top center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: #f2f2f2;
}


// @media (max-width: 768px) {
//     .heroBgImage {
//         display: none;
//     }
// }

.list_Style {
    list-style-type: none;
}

.list_Style li {
    margin-bottom: 0.5rem;
    padding-left: 1.5rem;
    position: relative;
}

.list_Style li:before {
    content: "";
    width: 0.75rem;
    height: 0.75rem;
    background: #277D9B;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 0.35rem;
}


// .btn41_43 {
//   padding: 10px 25px;
//   font-family: "Roboto", sans-serif;
//   font-weight: 500;
//   background: transparent;
//   outline: none !important;
//   cursor: pointer;
//   transition: all 0.3s ease;
//   position: relative;
//   display: inline-block;
// }

// .btn_41 {
//   border: 2px solid rgb(255, 255, 255);
//   z-index: 1;
//   color: white;
// }

// .btn_41:after {
//   position: absolute;
//   content: "";
//   width: 0;
//   height: 100%;
//   top: 0;
//   left: 0;
//   direction: rtl;
//   z-index: -1;
//   background: rgb(255, 255, 255);
//   transition: all 0.3s ease;
// }

// .btn_41:hover {
//   color: rgb(0, 0, 0);
// }

// .btn_41:hover:after {
//   left: auto;
//   right: 0;
//   width: 100%;
// }

// .btn_41:active {
//   top: 2px;
// }



.btn_41 {
  /* Define styles for btn_41 */
  /* For example: */
  padding: 10px 25px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  background: transparent;
  outline: none !important;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
}

.btn41_43 {
  /* Define styles for btn41_43 */
  /* For example: */
  border: 2px solid rgb(255, 255, 255);
  z-index: 1;
  color: white;
}
