/* styles.module.scss */
.gridItem {
    width: 100%;
    min-height: 645px; /* Use min-height instead of height to allow the grid item to expand as needed */
    background-size: contain;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding:  0 2rem; 
    background-repeat: no-repeat;
}

.vision {
    background-image: url('../../public/Assets/Vision.png');
}

.coreValues {
    background-image: url('../../public/Assets/CoreValues.png');
}

.missions {
    background-image: url('../../public/Assets/Missions.png');
}

.overlayText{
    padding: 2rem 1rem;
    width: 495px;    
}

@media (max-width:1024px) {
    .overlayText{
        width: 320px;
    }
}
.overlayText {
    padding: 2rem 1rem;
    width: 495px;    
}

@media (max-width: 1024px) {
    .overlayText {
        width: 320px;
    }
}

@media (max-width: 640px) {
    .overlayText h2 {
        font-size: 1rem; /* Adjust font size for h2 */
    }

    .overlayText p {
        font-size: 0.875rem; /* Adjust font size for p */
        line-height: 1.2rem;
    }
    .overlayText{
        padding: 2rem 2rem 0rem 2rem;
        margin: 1rem -1rem;
    }
    .gridItem{
        min-height: 527px;
    }
}


.btn41-43 {
  padding: 10px 25px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  background: transparent;
  outline: none !important;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
}

.btn-41 {
  border: 2px solid rgb(255, 255, 255);
  z-index: 1;
  color: white;
}

.btn-41:after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  direction: rtl;
  z-index: -1;
  background: rgb(255, 255, 255);
  transition: all 0.3s ease;
}

.btn-41:hover {
  color: rgb(0, 0, 0);
}

.btn-41:hover:after {
  left: auto;
  right: 0;
  width: 100%;
}

.btn-41:active {
  top: 2px;
}
