@tailwind base;
@tailwind components;
@tailwind utilities;


.container {
    max-width: 1450px;
}

html {
    scroll-behavior: smooth;
}


::-webkit-scrollbar {
    display: none;
}

* {
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* Internet Explorer/Edge */
}