
/* global.css */
// .main_staff{
//     clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
// }
// .staff{
//     border: 5px solid rgb(255, 0, 0);
// }
.staff{

}   

.websiteBgImage{
    width: 100%;    
    background: url(../public/Assets/websiteImage.png) top center no-repeat;
    background-color: #f2f2f2;
    height: 700px;
    background-size: 87%;
    background-position: right;
    position: relative;
    // position: absolute;
}




.diamond_Image {
       display: block;
    width: var(--grid-unit-width);
    height: var(--grid-unit-width);
    // width: 150px;
    // height: 150px;
    transform: rotate(-40deg);
}
/* tailwind.css or your custom CSS file */
.custom-hover:hover {
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
}

.main_img {
            border: 5px solid rgb(65, 189, 238);
            /* background-image: url(./Rectangle\ 8767.png); */
            background-repeat: no-repeat;
            width: 148px;
            height: 149px;
            position: relative;
            transform: rotate(45deg);
            // margin: 50px;
            position: relative;
            overflow: hidden;
        }
 .main_imgs {
            clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
            width: 317px;
            height: 317px;
            transform: rotate(-43deg);
            /* background-color: black; */
            position: absolute;
            top: -22%;
            left: -22%;
        }



    .heroBgImage{
    width: 100%;
    background: url(../public/Assets/BgSlider.png) top center no-repeat;    
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    // background-color: #f2f2f2;
}

